/* Приховані заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Основні кольори */
:root {
  --color-primary: #757575;
  --main-white-color: #ffffff;
  --main-black-color: #000000;
  --title-color: #212121;
  --background-primary: #ffffff;
  --background-accent: #2f303a;
  --background-secondary: #f5f5f5;
  --background-team: #f5f4fa;
  --color-accent: #2196f3;
  --color-accent-active: #188ce8;
  --background-work: #eeeeee;
  --clients-icon-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--color-primary);
  background-color: var(--background-primary);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
/* Header */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}
.logo-web {
  color: var(--color-accent);
}
.site-nav-link,
.auth-nav-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.auth-nav-link {
  color: var(--color-primary);
}
.site-nav-link:hover,
.site-nav-link:focus,
.auth-nav-link:hover,
.auth-nav-link:focus,
.current {
  color: var(--color-accent);
}

.page-header {
  background-color: var(--background-primary);
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo-primary {
  margin-right: 93px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav {
  display: flex;
  gap: 50px;
}
.auth-nav {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.auth-nav-link {
  display: flex;
  align-items: center;
  color: var(--color-primary);  
}
.auth-nav-icon {
  margin-right: 10px;
  fill: currentColor;
}
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--color-accent);
}
/* Hero */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
  to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/hero-img.jpg); 
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  background-color: var(--background-accent);
}
.hero-img-container {
  
}
.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color); 
}
.hero-button {
  display: inline-block;
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-white-color);
  background-color: var(--color-accent);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-accent-active);
}

/* Наші переваги */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container-advantages {
  display: flex;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.advantages-caption {
  display: block;
  margin-bottom: 10px;
}
.advantages-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-team);
  margin-bottom: 30px;
}

/* Чим ми займаємося */
.activity-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/* Наша команда */
.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.activity {
  padding-top: 0;
}
.team {
  background-color: var(--background-team);
}
.section-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-container>.section-desription{
margin-bottom: 16px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.team-container {
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;  
}
.team-item {
  background-color: var(--background-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.social-team-list {
  display: flex;
  justify-content: center;
  gap: 10px;  
}
.social-item {
  width: 44px;
  height: 44px;
}
.social-link {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--clients-icon-color);
  background-color: var(--background-primary);
}
.social-icon {
  fill: currentColor; 
}
.social-link:hover,
.social-link:focus {
  background-color: var(--color-accent-active);
  color: var(--main-white-color);  
}

/* Клієнти */
.clients-list {
  display: flex;  
  gap: 30px;
}
.clients-item { 
  height: 92px;
  flex-basis: calc((100%-5*30px)/6);
}
.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;  
  border: 1px solid var(--clients-icon-color);
  color: var(--clients-icon-color);
  border-radius: 4px;
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

/* Footer */
.logo-secondary,
.adress-link.place {
  color: var(--main-white-color);
}
.adress-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em; 
  color: var(--main-white-color) 60%;
}
.adress-link:hover,
.adress-link:focus {
  color: var(--color-accent);
}

.footer {
  background-color: var(--background-accent);
  padding: 60px 0;
}
.logo-secondary {
  display: block;
  margin-bottom: 20px;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.adress-container {
  margin-right: 70px;
}
.social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin-bottom: 20px;
}
.social-list {
  display: flex;
  gap: 10px;
}
.social-icon-footer {
  fill: var(--main-white-color);
}
.social-link-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--color-accent);
}

/* Портфоліо */
.filter-button {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-color);
  border: 0;
  background: var(--background-team);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--main-white-color);
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.work-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.work-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.link:hover,
.link:focus {
  color: var(--color-accent);
}

.work-container {
  display: flex;
  flex-direction: column;
}
.fiter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-item:not(:last-child) {
  display: flex;
  margin-right: 8px;
}
.small-button {
  padding: 6px 25px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-link:hover,
.project-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-item:nth-child(3n) {
  margin-right: 0px;
}
.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.project-text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  color: var(--color-primary);
}
