.advantages {
    display: flex;
    justify-content: space-between;
    gap: 30px;

  &__container {
    @include centredFlex();
    width: 270px;
    height: 120px;
    background-color: $background-team;
    margin-bottom: 30px;
    }

  &__title {
    display: block;
    margin-bottom: 10px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:$title-color;
  }  

  &__text {   
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  }

  



