.menu__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;

@media screen and (min-width: $tablet) {
    display: none;
}

&:hover,
&:focus {
   fill: $color-accent;
} 
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white-color;
    padding: 48px 0 48px 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu.is-open {
    transform: translateX(0);
  }

.menu .menu__button {
    position: absolute;
    top: 10px;
    right: 15px;
}

.navigation-menu__link { 
    @include mobileStyle(); 
    font-size: 40px;
    line-height: 1.18;   

    color: $title-color;   

&:hover,
&:focus {
   color:  $color-accent;
} 
}

.navigation-menu__link--current { 
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu__link--current:hover,
.navigation-menu__link--current:focus {
color: $color-accent;
}

.contact-menu {
    margin-bottom: 64px;
}

.contact-menu__link {  
    @include mobileStyle();  
    font-size: 24px;
    line-height: 1.17;

    color: $primary-color;

&:hover,
&:focus {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px; 
    color: $color-accent;
} 
}

.navigation-menu__item:not(:last-child),
.contact-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.social-menu {
    display: flex;
}

.social-menu__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $color-accent;
}

.social-menu__item {  
    padding: 0 10px; 
    border-right: 1px solid rgba(33, 33, 33, 0.2); 

&:first-child {
    padding-left: 0;       
} 

&:last-child {
    padding-right: 0;  
    border-right: none;     
} 
}


