.page-header {
    background-color: $background-primary;
    border-bottom: 1px solid #ececec;
  }

.header {
    display: flex;
    align-items: center;

  &__logo {
      margin-right: 93px;
    }

  &__span {
      color: $color-accent;
    }

  &-navigation {
      @include centredFlex(space-between);
  } 
}
  
 .navigation {
    display: flex;
    gap: 50px;

   &__item {
      position: relative;
    }
  }

  .navigation__link,
  .contact__link {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: $title-color;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .navigation__link:hover,
  .navigation__link:focus,
  .contact__link:hover,
  .contact__link:focus,
  .current {
    color: $color-accent;
  }
         
  .contact {
    display: flex;
    gap: 50px;
    margin-left: auto;

    &__link {
      display: flex;
      align-items: center;
      color: $primary-color;  
    } 
   
    &__icon {
      margin-right: 10px;
      fill: currentColor;
    }
  }
  
    .current::after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -1px;

    background-color: $color-accent;
    border-radius: 2px;
   }