.header {
    background-color: $background-primary;
    border-bottom: 1px solid #ececec;
  }

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;

    @media screen and (min-width: $tablet) {
      padding: 0;
    }
}

.header__logo {
  @media screen and (min-width: $tablet) {
  margin-right: 87px;
}
  @media screen and (min-width: $desktop) {
  margin-right: 93px;
}
}

.header__span {
  color: $color-accent;
}

.header-navigation {
  display: none;

  @media screen and (min-width: $tablet) {
  @include centredFlex(space-between);
}
} 
  
 .navigation {
    display: flex;
    gap: 50px;       
  }

  .navigation__item {
    position: relative;
  }

  .navigation__link,
  .contact__link {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: $title-color;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.contact .contact__link {
  padding: 0;
}
  
  .navigation__link:hover,
  .navigation__link:focus,
  .contact__link:hover,
  .contact__link:focus,
  .navigation__link--current {
    color: $color-accent;
  }
         
  .contact {
    display: none;

    @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column; 
    gap: 10px;     
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: auto;    
  }
}

  .contact__link {
    display: flex;
    align-items: center;
    color: $primary-color;  
  } 
 
  .contact__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  
  .navigation__link--current::after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -1px;

    background-color: $color-accent;
    border-radius: 2px;
   }

   
