body {
    font-family:  $text-font;
    color: $primary-color;
    background-color: $background-primary;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin: 0px;
    padding: 0px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }