    $text-font: 'Roboto',sans-serif;
    $logo-font: 'Raleway',sans-serif;

    $primary-color: #757575;
    $white-color: #ffffff;
    $white-footer-color: rgba(255, 255, 255, 0.1);
    $adress-color: rgba(255, 255, 255, 0.6);
    $black-color: #000000;
    $title-color: #212121;
    $color-accent: #2196F3;
    $background-primary: #ffffff;
    $background-accent: #2f303a;
    $background-secondary: #f5f5f5;
    $background-team: #f5f4fa;    
    $accent-active: #188ce8;
    $background-work: #eeeeee;
    $clients-icon-color: #afb1b8;

  
  